extends layout.pug

include includes/sidebar

block content
  .container
    .row
      .col-md-12
        #shop
    .row
      .col-md-12
        #account

append scripts
  script(src=`/${siteHash}/assets/js/account-management-cms-bundle.js`)