extends layout.pug

include includes/sidebar

block content
  .container
    .row
      .col-md-12
        #shop
    .row
      .col-md-12
        #order
    .row
      .col-md-12
        #order-detail

append scripts
  script(src=`/${siteHash}/assets/js/order-management-cms-bundle.js`)