extends layout.pug

include includes/sidebar

block content
  .container
    .row
      .col-md-12
        #category
    .row
      .col-md-12
        #sub-category
    .row
      .col-md-12
        #product
    .row
      .col-md-12
        #variant

append scripts
  script(src=`/${siteHash}/assets/js/product-management-cms-bundle.js`)