extends layout.pug

include includes/sidebar

append links
  link(rel="stylesheet" type="text/css" href=`/${siteHash}/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css`)
  link(rel="stylesheet" type="text/css" href=`/${siteHash}/assets/vendor/select2/select2.css`)

block content
  .container
    .row
      .col-md-12
        #supplier
    .row
      .col-md-6
        #product
      .col-md-6
        #variant
    .row
      .col-md-12
        #supplier-stock

append scripts
  script(src=`/${siteHash}/assets/js/supplier-management-cms-bundle.js`)