// Modal
#cart-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body.text-center
        p Barang berhasil ditambahkan ke keranjang!
        button(type="button" data-dismiss="modal") Lanjut Belanja
        a.button(href="/cart") Lihat Keranjang