extends ../layout/cms

block content
  .container
    .row
      .col-md-12
        #history
    .row
      .col-md-12
        #order-detail
append scripts
  script(src=`/assets/js/cloud-to-local-sync-management-app-bundle.js`)
