extends ../layout/cms

block content
  .container
    .row
      .col-md-12
        #order
    .row
      .col-md-12
        #order-detail
  div(style="display: none")
    iframe#print-frame(src='' name='print-preview')
append scripts
  script(src=`/assets/js/open-order-management-app-bundle.js`)