extends ../layout/cms

block content
  .container
    .row
      .col-md-12
        h1 Hello World
    .row
      .col-md-12
        #order-detail
append scripts
  script(src=`/assets/js/other-management-app-bundle.js`)
