extends ../layout/cms

block content
  .container
    .row
      .col-md-12
        #product
    .row
      .col-md-12
        #variant
    .row
      .col-md-12
        #shop-stock

append scripts
  script(src=`/assets/js/product-management-app-bundle.js`)
