extends ../layout/cms

block content
  .container
    .row
      .col-md-12
        #product
      .col-md-12
        #promotion

append scripts
  script(src=`/assets/js/promotion-management-app-bundle.js`)
