.cart-item-container {
  margin: 2%;
  display: flex;
  border: 1px solid #d6d6d6;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  text-align: center;
  .cart-item-picture {
    display: block;
    width: 40%;
    img {
      max-height: 100%;
    }
  }
  .cart-item-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    .cart-item-info-child {
      display: block;
      text-align: center;
    }
  }
  .cart-item-qtty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 5%;
  }
  .cart-item-subtotal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    button.delete-item {
      margin-top: -2em;
    }
  }
}

.cart-total-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .cart-total-price {
    margin-left: auto;
  }
}

