#product-category {
  margin: 2%;
  font-size: 150%;
}

#product {
  display: flex;

  #images {
    display: block;
    width: 40%;
    #main-image {
      position: relative;
      img {
        width: 100%;
      }
    }
    #thumbnails {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .thumbnail {
        max-width: 25%;
        border: 1px solid #d6d6d6;
        img {
          width: 100%;
        }
      }
    }

    #hints {
      width: 100%;
      margin: auto;
      text-align: center;
    }
  }
  #description {
    margin-left: 5%;
    width: 55%;
  }
}


/* .product > .images {
  display: block;
  width: 40%;
} */

.product > .images > article.main-image {
  position: relative;
  width: 100%;
}

.product > .images > article.main-image > img {
  position: relative;
  max-width: 100%;
  /* border: 1px solid black; */
}

.product > .images > section.thumbnail-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
}

.product > .images > section.thumbnail-images > article {
  width: 24%;
}

.product > .images > section.thumbnail-images > article > img {
  /* border: 1px solid black; */
  max-width: 100px;
  /* height: 70px; */
}

.product > .description {
  width: 60%;
  text-align: center;
  /* border: 1px solid black; */
  padding: 2%;
}

.product > .description > article > section.information {
  min-height: 100px;
  width: 100%;
}

.product > .description > article > .detail {
  margin-bottom: 1em;
  width: 30%;
  margin: auto;
}

.product > .description > article > .detail > label {
  margin: 0;
}

.product > .description > article > .detail > select {
  margin: auto;
  width: 150px;
}

.product > .description > article > .purchase {
  margin: 30px auto auto auto;
  text-align: center
}

.product > .description > article > .purchase > button {
  width: 50%;
  height: 3%;
  font-size: 0.8em;
  vertical-align: middle;
}