extend layout/base
include include/product-catalog.pug

block content
  h1 #[a(href=getCategoryURL(category)) #{category.name}]
  if inStockProducts.length > 0
    section.product-catalog
      h2 Produk - Ready Stock
      section.tiles#in-stock-products
        +renderProducts(inStockProducts)
      +renderPagination(currentInStockProductPage, inStockProductTotalPage, getCategoryURL(category, '__pageNumber', currentPOProductPage, 'in-stock-products'))

  if poProducts.length > 0
    section.product-catalog
      h2 Produk - Pre-Order
      section.tiles#po-products
        +renderProducts(poProducts)
      +renderPagination(currentPOProductPage, poProductTotalPage, getCategoryURL(category, currentInStockProductPage, '__pageNumber', 'po-products'))