doctype html
//
  Phantom by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Generic - Phantom by HTML5 UP
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="assets/css/main.css")
    noscript
      link(rel="stylesheet" href="assets/css/noscript.css")
  body.is-preload
    // Wrapper
    #wrapper
      // Header
      header#header
        .inner
          // Logo
          a.logo(href="index.html")
            span.symbol
              img(src="images/logo.svg" alt="")
            span.title Phantom
          // Nav
          nav
            ul
              li
                a(href="#menu") Menu
      // Menu
      nav#menu
        h2 Menu
        ul
          li
            a(href="index.html") Home
          li
            a(href="generic.html") Ipsum veroeros
          li
            a(href="generic.html") Tempus etiam
          li
            a(href="generic.html") Consequat dolor
          li
            a(href="elements.html") Elements
      // Main
      #main
        .inner
          h1 Generic Page
          span.image.main
            img(src="images/pic13.jpg" alt="")
          p
            | Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel venenatis mauris vehicula hendrerit.
          p
            | Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.
      // Footer
      footer#footer
        .inner
          section
            h2 Get in touch
            form(method="post" action="#")
              .fields
                .field.half
                  input#name(type="text" name="name" placeholder="Name")
                .field.half
                  input#email(type="email" name="email" placeholder="Email")
                .field
                  textarea#message(name="message" placeholder="Message")
              ul.actions
                li
                  input.primary(type="submit" value="Send")
          section
            h2 Follow
            ul.icons
              li
                a.icon.style2.fa-twitter(href="#")
                  span.label Twitter
              li
                a.icon.style2.fa-facebook(href="#")
                  span.label Facebook
              li
                a.icon.style2.fa-instagram(href="#")
                  span.label Instagram
              li
                a.icon.style2.fa-dribbble(href="#")
                  span.label Dribbble
              li
                a.icon.style2.fa-github(href="#")
                  span.label GitHub
              li
                a.icon.style2.fa-500px(href="#")
                  span.label 500px
              li
                a.icon.style2.fa-phone(href="#")
                  span.label Phone
              li
                a.icon.style2.fa-envelope-o(href="#")
                  span.label Email
          ul.copyright
            li © Untitled. All rights reserved
            li
              | Design: 
              a(href="http://html5up.net") HTML5 UP
    // Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
