head
  link(href="/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet")
  style.
    img.fashion {
      margin: 20px;
    }
    
body
  h1 Hello
  .row
    for file in sortedFiles
      .col-lg-2.col-md-3
        img.fashion(src='/images/lanecrawford/' + file)


  script(src='/assets/js/jquery.min.js')
  script(src='/assets/vendor/bootstrap/popper.min.js')
  script(src='/assets/vendor/bootstrap/bootstrap.min.js')
  script.
    $('img.fashion').on('click', function (element) {
      console.log($(element)[0].attr('src'))
    })