extend layout/base

block content
  header
    h1
      | Nusantara Gizmo - Solusi Gadget & Elektronik Anda
    p.large-text
      | Order anda sudah diterima. Staff kami akan memanggil anda saat pesanan sudah siap.
      br
      | Terima kasih banyak.
    a.button(href='/') Lanjut Belanja
