extends ../../layout/cms

block content
  .container
    .row
      .col-md-12
        #shop-stock-bst
    .row
      .col-md-12
        #product
    .row
      .col-md-6
        #variant
      .col-md-6
        #grouped-shop-stock
    .row
      .col-md-12
        #shop-stock

append scripts
  script(src=`/assets/js/stock-in-app-bundle.js`)
